.client__section__list {
    display: flex;
    justify-content: space-between;
    @extend %list;
}

.client__section__item {
    width: 170px;
    height: 92px;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);;
&:hover, &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
}

.client__section__link {
    display: flex;
    align-items: center;
    height: 92px;
    justify-content: center;

    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        color: $accent-color;
        fill: $accent-color;
        border-color: $accent-color;
    }
}

.client__section__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}

.client__section__container {
    @extend %container;
}

.client__section {
    @extend %section;
}