/* features */
.features__section__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $also-white;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;

    @media screen and (max-width: 767px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 354px;
    }
}

.features__section__icon {
    width: 70px;
    height: 70px;
}

.features__section__text {
font-size: 14px;
line-height: 1.71;
margin: 0;
      @media screen and (max-width: 767px) {
     margin-bottom: 30px;
}

&--last {
    @media screen and (max-width: 767px) {
        margin-bottom: 0px;
   }
}

&--first {
    @media screen and (min-width: 768px) and (max-width:1199px) {
        margin-bottom: 30px;    
        }
}
}

.features__section__title {
    margin-top: 0;
    margin-bottom: 10px;
    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features__section__list {
    display: flex;
    @extend %list;

    @media screen and (max-width: 767px) {
        display: block;
        text-align: center;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-wrap: wrap;
    }
}

.features__section__element {
   
    & + .features__section__element {
        margin-left: 30px;
        @media screen and (max-width: 767px) {
        margin-left: 0px;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-basis: 47%;
    }
    &.features__section__element--third {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: 0px;
    }
}
}

.features__section__container {
    @extend %container;
}

.features__section {
    @extend %section;
}

.features__section__hidden-title {
    @extend %visually-hidden;
}