.form__inputs {
    @extend %list;
}

.form__item {
    position: relative;

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

.form__link-checkbox {
    color: $accent-color;
    margin-left: 9px;
}

.form__label-checkbox {
display: flex;
align-items: center;
justify-content: center;
     
font-weight: 400;
font-size: 14px;
line-height: 1.71;

color: $primary-text-color;
@extend %unselected;
} 

.form__input-checkbox  {

           position: absolute;
           width: 1px;
           height: 1px;
           margin: -1px;
           border: 0;
           padding: 0;
           
           white-space: nowrap;
           clip-path: inset(100%);
           clip: rect(0 0 0 0);
           overflow: hidden;
}

.form__icon-checkbox {
    width: 16px;
    height: 15px;
}

.form__svg-checkbox {
    width: 16px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $black-color;
    border-radius: 2px;
    margin-right: 9px;
    .form__input-checkbox:checked + & {
        background-color: $accent-color;
        border-color:  $accent-color;
        border: none;
    
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.form__title {
    display: inline-block;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: $title-text-color;
}

.form__input {
   margin-top: 4px;  
}

.form__icon-label {
    .form__input:focus + & {
        fill: $accent-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.form__input {

    padding: 12px 12px 12px 42px;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    &:focus-within {
    outline: none;
    border: 1px solid $accent-color;
    
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);}
}

.form__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: $primary-text-color;
    text-align: start;
}

.form__label--comment {
    margin-bottom: 4px;
}

.form__comment {
    &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    }
    &:focus {
        outline: none;
        border: 1px solid $accent-color;
    
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    padding: 12px 16px;
    resize: none;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.form__item--last {
    margin-bottom: 20px;
}

.form__icon-label {
    position: absolute;
    bottom: 11px;
    left: 12px;

    width: 18px;
    height: 18px;
    fill: $black-color;
}