.page-header {  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ECECEC;

    @media screen and (max-width: 767px) {
        position: relative;
    }
}
 
.page-header__container {
    @extend %container;
    display: flex;

    @media screen and (max-width:467px) {
        width: 100%;
        height: 60px;
        justify-content: space-between;
        align-items: center;
    }

    @media screen and (min-width:468px) and (max-width: 767px) {
        width: 480px;
        height: 60px;
        justify-content: space-between;
        align-items: center;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 768px;
        height: 80px;
    }
}

.site-nav {
    display: flex;
    align-items: center;
    @extend %list;
   
}

.site-nav__list {
    display: flex;
    @extend %list;
   
    @media screen and (min-width: 768px) {
        display: flex;
    }
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.site-nav__item {
    margin-right: 50px;
    position: relative;
}

.site-nav__item {
    &:last-child {
    margin-right: 0px;
}
@extend %list;
}

.site-nav__link {
    color: $title-text-color;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--current {
        color: $accent-color;
        &::after {
            position: absolute;
            border: 2px solid $accent-color;
            width: 100%;
            content: " ";
            border-radius: 2px;
            left: 0;
            bottom: -1px;
            @media screen and (max-width: 767px) {
                border: none;
            }
        }
    }

    &:hover,
    &:focus {
        color: $accent-color;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    @extend %link;
}

.page-header__contact {
    display: flex;
    margin-left: auto;
    @extend %list;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: inline-block;
        padding-top: 21px;
        margin-left: 90px;
    }
}

.page-header__contact li+li {
    margin-left: 50px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin: 0px;
        margin-top: 10px;
    }
}

.page-header__link {
    @media screen and (min-width: 768px) { 
        display: flex;
        padding-top: 32px;
        padding-bottom: 32px;
        align-items: center;
        justify-content: center;    
    }

    color: $primary-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
                text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: $accent-color;
    }
    @extend %link;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding: 0px;
        justify-content: left;
        font-size: 12px;
        line-height: 1.16;
    }

}

.page-header__image {
    margin-right: 10px;
    fill: currentColor;
    @media screen and (max-width:767px) {
        display: none;
    }

&-mail {
    @media screen and (min-width:768px) and (max-width:1199px) {
        width: 14px;
        height: 10px;
    }
  
}

&-tel {
    @media screen and (min-width:768px) and (max-width:1199px) {
        height: 14px;
    }
}
}

.page-header__address {
    &:hover,
    &:focus { 
    fill: $accent-color;
    color: $accent-color;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}
}


// меню в телефонной версии 

.site-nav__list-mobile {
    @media screen and (min-width:768px) {
        display: none;
    }
    padding: 0;
    margin: 0;
    
font-weight: 500;
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em;

}

.site-nav__item-mobile {
    margin-bottom: 32px;
    margin-right: 0px;
    &:last-child {
        margin-bottom: 0px;
    }
}

.page-header__contact-mobile {
   @extend %list;
   font-size: 24px;
   line-height: 1.17;
   letter-spacing: 0.02em;
}

.page-header__link-mobile {
    color: $accent-color;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    @media screen and (max-width: 467px) {
        font-size: 31px;
    }
}

.page-header__list-mobile {
    @extend %list;
}

.site-nav__link-mobile {
    padding: 0px;
    margin: 0px;
}

.page-header__address-mobile {
    margin-bottom: 32px;
}

.mobile-socials {
    @extend %list;
    display: flex;
    margin-top: 64px;
}

.mobile-socials__link {
    @extend %link;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;
    outline: none;
    @media screen and (max-width: 467px) {
        font-size: 12px;
    }
 
    &:hover,
    &:focus {
        border-radius: 50%;
        border-color: black ;
    }
}

.mobile-socials__item {
    margin-right: 10px;
    
    &:not(:last-child):after {
        content: " ";
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        margin-left: 10px;
    }

}