// Палитра цветов 

 $primary-text-color: #757575;
 $title-text-color: #212121;
 $accent-color: #2196F3;
 $white-color: #FFFFFF;
 $background-portfolio: #F5F5F5;
 $white-color-next: #EEEEEE;
 $also-white: #F5F4FA;
 $black-color: #000000;
 $background-footer-header: #2F303A;
 $line-header-line: #ECECEC;

// Наборы шрифтов


